<div id="transfer_fields" class="hidden grid gap-4 lg:grid-cols-2" data-transaction-workstation-target="transferFields">
  <%= render "transactions/account_picker",
      field_name: "transaction[source_account_id]",
      field_id: "source_account_id",
      label: "From Account",
      selected_id: params.dig(:transaction, :source_account_id),
      selected_account_payload: @selected_source_account_payload,
      picker_target: "sourcePicker" %>

  <%= render "transactions/account_picker",
      field_name: "transaction[destination_account_id]",
      field_id: "destination_account_id",
      label: "To Account",
      selected_id: params.dig(:transaction, :destination_account_id),
      selected_account_payload: @selected_destination_account_payload,
      picker_target: "destinationPicker" %>
</div>
